---
import PoliciesLayout from "../../layouts/PoliciesLayout.astro";
import data from "./data.json";
const title = "Política de Envío";
---

<PoliciesLayout>
  <h1>Política de envío</h1>
  <p>
    <strong>Tiempo de envío:</strong> 48/72 horas a ciudades principales. Esto puede
    variar dependiendo de los días hábiles, son tiempos estimados
  </p>
  <p>El envío será gratis siempre y cuando se especifique en la oferta.</p>
  <p>
    El tiempo de procesamiento es de 24 horas hábiles aproximadamente, después
    de este periodo de tiempo recibirás tu guía para rastrear tu pedido.
  </p>
</PoliciesLayout>
